<div class="header">
    <div class="hamburger">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
    </div>
    <nav class="navigation">
        <ul class="header__navigation">
            <li class="header__navigation_item">
                <a href="#section-2" class="header__navigation_item_link">Музыка</a>
            </li>
            <li class="header__navigation_item">
                <a href="#section-3" class="header__navigation_item_link">Видео</a>
            </li>
            <li class="header__navigation_item">
                <a href="#section-5" class="header__navigation_item_link">Концерты</a>
            </li>
            <li class="header__navigation_item">
                <a href="#footer" class="header__navigation_item_link">Контакты</a>
            </li>
        </ul>
        <ul class="language">
            <li class="language__item">
                <a href="#" class="language__item_link active">ru</a>
            </li>
            <li class="language__item">
                <a href="#" class="language__item_link">en</a>
            </li>
        </ul>
    </nav>
</div>
<!-- /.header -->