<nav class="header">
    <ul class="header__navigation">
        <li class="header__navigation_item js-anchor">
            <a href="#section-2" class="header__navigation_item_link">Музыка</a>
        </li>
        <li class="header__navigation_item js-anchor">
            <a href="#section-3" class="header__navigation_item_link">Видео</a>
        </li>
        <li class="header__navigation_item js-anchor">
            <a href="#section-5" class="header__navigation_item_link">Концерты</a>
        </li>
        <li class="header__navigation_item js-anchor">
            <a href="#footer" class="header__navigation_item_link">Контакты</a>
        </li>
        <li class="header__navigation_item">
            <a href="#" class="header__navigation_item_link link-language active">ru</a>
        </li>
        <li class="header__navigation_item">
            <a href="#" class="header__navigation_item_link link-language">en</a>
        </li>
    </ul>
</nav>
<!-- /.header -->