<div class="section-4">
    <div class="slider">
        <div class="slider__dots section-4__slider_dots"></div>
        <div class="slider__container section-4__slider">
            <a href="#" class="section-4__slider_item">
                <img src="../../assets/img/section-4__slide-1.jpg" alt="">
                <div class="section-4__slider_item_info">
                    <div class="section-4__slider_item_info_title">
                        Jack Action - посмотри в глаза
                    </div>
                    <div class="section-4__slider_item_info_subtitle">
                        Posmotri_v_glaza_2019
                    </div>
                </div>
            </a>
            <a href="#" class="section-4__slider_item">
                <img src="../../assets/img/section-4__slide-2.jpg" alt="">
                <div class="section-4__slider_item_info">
                    <div class="section-4__slider_item_info_title">
                        JACK ACTION - LIVE IN MOSCOW@STADIUM
                        LIVE (Three Days Grace)
                    </div>
                    <div class="section-4__slider_item_info_subtitle">
                        LIVE_IN_MOSCOW
                    </div>
                </div>
            </a>
            <a href="#" class="section-4__slider_item">
                <img src="../../assets/img/section-4__slide-3.jpg" alt="">
                <div class="section-4__slider_item_info">
                    <div class="section-4__slider_item_info_title">
                        JACK ACTION - LIVE IN MOSCOW@STADIUM
                        LIVE (Three Days Grace)
                    </div>
                    <div class="section-4__slider_item_info_subtitle">
                        LIVE_IN_MOSCOW
                    </div>
                </div>
            </a>
            <a href="#" class="section-4__slider_item">
                <img src="../../assets/img/section-4__slide-1.jpg" alt="">
                <div class="section-4__slider_item_info">
                    <div class="section-4__slider_item_info_title">
                        Jack Action - посмотри в глаза
                    </div>
                    <div class="section-4__slider_item_info_subtitle">
                        Posmotri_v_glaza_2019
                    </div>
                </div>
            </a>
            <a href="#" class="section-4__slider_item">
                <img src="../../assets/img/section-4__slide-2.jpg" alt="">
                <div class="section-4__slider_item_info">
                    <div class="section-4__slider_item_info_title">
                        JACK ACTION - LIVE IN MOSCOW@STADIUM
                        LIVE (Three Days Grace)
                    </div>
                    <div class="section-4__slider_item_info_subtitle">
                        LIVE_IN_MOSCOW
                    </div>
                </div>
            </a>
            <a href="#" class="section-4__slider_item">
                <img src="../../assets/img/section-4__slide-3.jpg" alt="">
                <div class="section-4__slider_item_info">
                    <div class="section-4__slider_item_info_title">
                        JACK ACTION - LIVE IN MOSCOW@STADIUM
                        LIVE (Three Days Grace)
                    </div>
                    <div class="section-4__slider_item_info_subtitle">
                        LIVE_IN_MOSCOW
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- /.slider -->
    <div class="section-4__slider_arrows"></div>
</div>
<!-- /.section-4 -->