<div class="section-3">
    <div class="section-3__title title-2">ДИСКОГРАФИЯ</div>
    <div class="section-3__slider">
        <a href="#" class="section-3__slider_item">
            <img src="../../assets/img/section-3__slide-1.jpg" alt="">
        </a>
        <a href="#" class="section-3__slider_item">
            <img src="../../assets/img/section-3__slide-2.jpg" alt="">
        </a>
        <a href="#" class="section-3__slider_item">
            <img src="../../assets/img/section-3__slide-3.jpg" alt="">
        </a>
        <a href="#" class="section-3__slider_item">
            <img src="../../assets/img/section-3__slide-1.jpg" alt="">
        </a>
        <a href="#" class="section-3__slider_item">
            <img src="../../assets/img/section-3__slide-2.jpg" alt="">
        </a>
        <a href="#" class="section-3__slider_item">
            <img src="../../assets/img/section-3__slide-3.jpg" alt="">
        </a>
    </div>
    <!-- /.section-3__slider -->
</div>
<!-- /.section-3 -->