@import "variables";
@import "reboot";

@import "titles";
@import "buttons";
@import "forms";
@import "slider";

body {
  background-image: url(../../../assets/img/bg.jpg);
  background-size: cover;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 14em;
  box-sizing: border-box;
}