<div class="section-1">
    //= ../header/header.html
    <div class="content-desktop">
        <img src="../../assets/img/intro.jpg" alt="">
    </div>
    <div class="content-mobile">
        <img src="../../assets/img/intro-mobile.jpg" alt="">
    </div>
    <div class="intro__block">
        <div class="intro__block_logo">
            <img src="../../assets/img/icons/logo.png" alt="">
        </div>
        <div class="intro__block_text">
            <span>SHOW US WHAT YOU CAN</span>
            <div class="intro__block_text_line"></div>
        </div>
    </div>
</div>
<!-- /.section-1 -->